<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CiberAttacks Study{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1 class="nav-logo">CiberAttacks Study</h1>
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                {% if logged_in %}
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
                    <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 Kimberly Rincon y Cesar Diaz | Pagina para diplomado Ciberseguridad-2025</p>
    </footer>
</body>
</html>